.full-width {
  width: 100%;
}

.questions-card {
  min-width: 120px;
  width: 95%;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

mat-card-title {
  font-weight: bold;
  margin-bottom: 15px;
}

mat-label {
  font-weight: 500;
  margin-bottom: 5px;
}

mat-card-content {
  
  .form-control{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 10px;
    width: auto;    
  }

  .wrap-radio-content{
    white-space: normal;
  }
}

mat-card-actions {
  button {
    margin: 0px 10px 10px!important;
  }
}



.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

